@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: #002060;
}
header ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}
header ul li {
    list-style: none;
    padding: 26px;
}
header ul li a{
    color: #ddd;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
header ul li:hover{
    background-color: #01689C;
}

.content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap:20px;
    height: 600px;
    margin-bottom: 30px;
}
.sidebar{
    font-size: 20px;
    width: 25%;
    height: 533px;
    background-color: #002060;
    border-top-right-radius: 30px;
    padding: 35px;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sidebar ul li,
.sidebar ul li a{
    text-decoration: none;
    list-style: none;
    color: #ddd;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.sidebar ul li:hover{
    text-decoration: underline #ddd 2px;
}
.video{
    width: 75%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: relative;
    display: flex;

}
.video img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
marquee{
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.newt-1{
    position: absolute;
    top: 0;
    width: 250px;
    display: flex;
    border: 1px solid #002060;
    border-top-left-radius: 30px;
}
.newt-1 input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
}
.m-1{
    width: 20%;
    height: 34px;
}
.m-1 button{
    border: none;
    border-left: 0.5px solid #002060;
    background-color: #fff;
}
.m-1 button i{
    padding: 11px;
}
.newt-2 {
    position: absolute ;
    right: 0;
}



